<% if @user.owner == true  %>
<div class="container">
  <%= link_to "Don't be an owner anymore", owner_path(@user), class: "btn btn-info" %>
</div>
<% else  %>
<div class="container">
  <%= link_to "Become an owner", owner_path(@user), class: "btn btn-info" %>
</div>
<% end  %>
