<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255, 240, 0, 0.3) 0%, rgba(62, 54, 0, 0.4) 50%), url(<%= image_path 'resto.jpg'%>);">
  <div class="banner-content">
    <h1>Book & Dine</h1>
    <p>Book a restaurant for your events</p>
    <%= link_to "Start Now",new_registration_session_path, class: "btn btn-info btn-lg" %>
  </div>
</div>
