.box {
  overflow: hidden;
  padding: 14px 0px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  margin-top: 30px;
}

.btn-booking{
  padding: 14px 25px;
  margin: 30px;
  border-radius:30px;
  background: transparent;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  border-color: #feb632 !important;
  border: solid;
}

.btn-booking:hover {
  background-color: #feb632;
  text-decoration: none;
}
