/* -------------------------------------
 * Your CSS code for the calendar gem from https://github.com/excid3/simple_calendar
* ------------------------------------- */
.simple-calendar {

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border-style: solid;
    border-width: 2px;
    border-color: #feb632;
    background: none !important;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {
    border-style: solid;
    border-width: 2px;
    border-color: #feb632;
  }

  /* User Avatar */
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #9c9c72;
  }

  /* Event box */
  .event{
    height: 30px;
    width: 200px;
    background: #feb632;
    margin-left: -8px;
    margin-right: -8px;

  }

  .event a {
    text-align: center;
    font-size: 12px;
    color: #1d1f21;
    opacity : 0.8;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }


}
