.card {
  min-height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #6d6d6d;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 1;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card.card-show {
  .card-description {
    position: absolute;
    top: 0;
    left: 10px;
  }
  .card-description p {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  opacity: 1;
  text-decoration: none;
  color: white;
  }
}

.main-container {
  display: flex;
}

#map {
  flex: 0 0 450px;
  height: 100vh !important;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.card-mini {
  min-height: 140px;
  min-width: 160px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding-top: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 20px #6d6d6d;
}
.card-mini h2 {
  font-size: 16px;
  }

 .card-mini h4 {
  font-size: 12px;
  }
